.author-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #ffff;
}

.author-page h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.author-page p {
  margin-bottom: 20px;
}

.author-page ul {
  list-style-type: none;
  padding: 0;
}

.author-not-found {
  color: #ffff;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.author-page li {
  margin-bottom: 10px;
}

.author-page a {
  color: #0066cc;
  text-decoration: none;
}


.author-page a:hover {
  text-decoration: underline;
}