.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 400px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #B87333;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }