.series-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #ffff;
  }

  .series-page h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .series-page p {
    margin-bottom: 20px;
  }
  
  .series-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .series-not-found {
    color: #ffff;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
  }
  
  .series-page li {
    margin-bottom: 10px;
  }
  
  .series-page a {
    color: #0066cc;
    text-decoration: none;
  }
  
  
  .series-page a:hover {
    text-decoration: underline;
  }

  
